apiVersion: v1
kind: Secret
metadata:
  name: env-postgres
  namespace: demo-project
type: Opaque
data:
  POSTGRES_PASSWORD: cGFzczE=
  POSTGRES_PASSWORD_APP: cGFzczI=
  POSTGRES_PASSWORD_MIGR: cGFzczM=
  POSTGRES_PASSWORD_SECURE: cGFzczQ=