apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
  namespace: demo-project
type: Opaque
data:
  REDIS_USERNAME: YXBwbGljYXRpb24=
  REDIS_PASSWORD: YXBwLWRlbW8=
  REDIS_WORKER_USERNAME: d29ya2Vy
  REDIS_WORKER_PASSWORD: d29ya2VyLWRlbW8=
  REDIS_MONITOR_USERNAME: bW9uaXRvcg==
  REDIS_MONITOR_PASSWORD: bW9uaXRvci1kZW1v